
* {
    width: auto;
    font-family: 'Barlow', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.3125em;
    box-shadow: 0px 0px 5px black;
    font-family: sans-serif;
}
.top {
    justify-content: center;
    width: 60%;
    height: 160px;
}

.top h1 {
    color: #0F357C;
}
.top h3 {
    color: #093C8C;
}
.top p {
    color: #13448B;
}

.bot {
    color: white;
    display: flex;
    width: auto;
    justify-content: center;
    width: 100%;
}

.left-bot {
    background-color:#0F357C; 
    padding: 10px;
    width: 50%;
}


.right-bot {
    padding: 10px;
    width: 50%;
}


.price{
    display: flex;
    align-items: center;
}
.value{
    padding-right:8px;
    font-size: 2em;
}

