* {
    width: auto;
    
}

.container {
    border: 10px black solid;
    padding: 10px;
    display:flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    align-items: center;
    
    
}

.top {
    border: 2px red solid;
    padding: 10px;
    justify-content: center;
    width: 60%;
}

.bot {
    border: 2px hotpink solid;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 60%;
}

.left-top {
    border: 2px blue solid;
    padding: 10px;
    width: 50%;
}
.right-bot {
    border: 2px gray solid;
    padding: 10px;
    width: 50%;
}